body{
    margin: 0;
    padding: 0;
    background: #535353;
    font-family: sans-serif;
}

/* Страница*/
.Layout{
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px 5px #0000003b;
}
.Layout__head{
    height: 80px;
    background: #f5f5f5;
}
.Layout__head h1{
    margin: 0;
    padding: 20px 20px 10px;
}
.Menu{
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0 20px;
  font-size: 18px;
}

.Menu-item{
  display: block;
  padding: 2px 4px 3px 2px;
  margin: 0 2px;
}


/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple__label{

}

.BasketSimple__total{
    font-weight: bold;
    margin: 0 15px;
}
.LayoutSides{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.LayoutSides-left{

}

.LayoutSides-center{
  flex: 1;
}

.LayoutSides-right{

}



.Select{
  font-size: 16px;
  padding: 3px 2px 2px;
}

.LayoutTools{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 20px;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
}
.LayoutTools-item{
  margin: 0 5px;
}

.Input{
  font-size: 16px;
  padding: 2px;
}

.Input_theme_big{
  width: 300px;
}


.Spinner{
  opacity: 0.5;
}

/*Список*/
.List{

}
.List__item{
    border-bottom: 1px dashed #ccc;
}

.List__item:first-child{
    border-top: 1px dashed #ccc;
}
.Pagination{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.Pagination-item{
  display: block;
  padding: 2px 4px 3px 2px;
  margin: 0 2px;
  cursor: pointer;
}

.Pagination-item:hover{
  background: #E1E1E1;
}

.Pagination-item_active,
.Pagination-item_active:hover{
  background: #000;
  color: #fff;
}

.Pagination-item_split,
.Pagination-item_split:hover{
  background: transparent;
  cursor: default;
}

/* Пункт списка */
.Item {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
}

.Item_selected {
    background: #75aaf1;
}

.Item__number {
    padding: 20px 10px 20px 20px;
}

.Item__title {
    width: 100%;
    padding: 20px 10px;
}

.Item__right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Item__price {
    padding: 0 10px;
    white-space: nowrap;
}
/* Пункт списка */
.BasketTotal {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.BasketTotal__cell {
    min-width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}


.LayoutModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  padding: 0 10px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LayoutModal__frame {
  position: relative;
  background: #ffffff;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 720px;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 5%);
  min-width: 960px;
}

.LayoutModal__head {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  /*align-items: stretch;*/
  justify-content: space-between;
  padding: 0 30px 0 20px;
}

.LayoutModal__close{
  align-self: center;
}

.LayoutModal__title{
  margin: 0;
  padding: 20px 0 10px;
}

.LayoutModal__content {
  min-height: 100px;
  padding: 70px 0;
}
/* Пункт списка */
.ItemBasket {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
}

.ItemBasket_selected {
    background: #75aaf1;
}

.ItemBasket__number {
    padding: 20px 10px 20px 20px;
}

.ItemBasket__title {
    width: 100%;
    padding: 20px 10px;
}

.ItemBasket__right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ItemBasket__cell {
    min-width: 100px;
    text-align: right;
    font-size: 18px;
}
/* Пункт списка */
.ArticleCard {
  padding: 20px 35px;
}

.ArticleCard-Description {
  margin: 20px 0;
}


.ArticleCard-Prop {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.ArticleCard-Prop_size_big{
  font-size: 24px;
}

.ArticleCard-Label{
  padding-right: 10px;
}

.ArticleCard-Value{
  font-weight: bold;
}

/* Пункт списка */
.ArticleRefactor {
    padding: 20px 35px;
}
.ArticleRefactor-Title {
    margin: 20px 0;
}
.ArticleRefactor-Title_input {}
.ArticleRefactor-Description {
    margin: 20px 0;
}


.ArticleRefactor-Category {
    margin: 20px 0 ;
}
.ArticleRefactor-Edition {
    margin: 20px 0 ;
}
.ArticleRefactor-Edition_input {}
.ArticleRefactor-Button {
    margin: 20px 0 ;
}





.ArticleRefactor-Label{
    margin: 20px 0 ;
}
select{
    font-size: 16px;
    padding: 3px 2px 2px;
}
.Textarea {
    resize: vertical;
    width: 98%;
    font-size: 16px;
    padding: 2px;
}
